/* RESET */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* UTILITIES */

.flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.space-around{
    justify-content: space-around;
}



.align-item{
    align-items: center;
}

ul{
    list-style: none;
}

ul a{
    text-decoration: none;
}

ul li{
    display: inline;
}

.width-100x100{
    width: 100%;
}


/* HEADER */
header{
    height: 70px;
    background-color: orange;
}

/* header left and right part */
.header-left, .header-right{
    width: 30%;
    /* debug */
    background-color: aqua;
    height: 100%;
}

.header-left img{
    width: 30%;
    padding: 10px;
}

.header-left nav{
    width: 70%;
}



/* MAIN */

.hero{
    /* debug */
    height: 550px;
    background-color: yellow;
}

.business-plans{
    /* debug */
    height: 700px;
    background-color: cyan;
}

.enterprise{
    /* debug */
    height: 250px;
    background-color: blue;
}

.dropbox-partners{
    /* debug */
    height: 450px;
    background-color: violet;
}

.dropbox-business{
    /* debug */
    height: 800px;
    background-color: green;
}

.dropbox-business-clients{
    /* debug */
    height: 250px;
    background-color: brown;
}

.designit{
    /* debug */
    height: 500px;
    background-color: magenta;
}

.free-trial{
    /* debug */
    height: 250px;
    background-color: lightblue;
}

.general-questions{
    /* debug */
    height: 500px;
    background-color: lightcoral;
}

/* FOOTER */

footer{
    background-color: black;
    height: 350px;
}