/* RESET */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

img{
    max-width: 100%;
}

/* UTILITIES */

.flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.space-around{
    justify-content: space-around;
}

.align-item{
    align-items: center;
}

ul{
    list-style: none;
}

ul a{
    text-decoration: none;
}

ul li{
    display: inline;
}

.column{
    flex-direction: column;
}

.padding-10px{
    padding: 10px;
}

/* HEADER */
header{
    height: 70px;
    background-color: orange;
}

/* header left and right partition */
.header-left, .header-right{
    width: 30%;
    /* debug */
    background-color: aqua;
    height: 100%;
}

/* logo space in left section */
.header-left img{
    width: 30%;
    padding: 10px;
}

.header-left nav{
    width: 70%;
}

nav{
    width: 100%;
}

/* MAIN */

/* container large */
.container-large{
    width: 80%;
    margin: 0 auto;
    /* debug */
    height: 90%;
    background-color: rgb(41, 30, 30);
}

/* container small */
.container-small{
    width: 70%;
    margin: 0 auto;
    /* debug */
    height: 90%;
    background-color: rgb(73, 46, 46);
}


/* Hero section */
.hero{
    /* debug */
    height: 550px;
    background-color: yellow;
}
/* Hero title */
.hero-title{
    height: 40%;
    width: 100%;
    padding: 20px 0; 
    font-size: 50px;
    font-weight: bolder;
}

/* hero content */
.hero-content{
    height: 60%;
}

/* hero sides proportion */
.hero-left{
    width: 30%;
}

.hero-right{
    width: 70%;
    padding: 20px;
}

.hero-left a{
    display: inline-block;
    text-decoration: none;
}

.business-plans{
    /* debug */
    height: 700px;
    background-color: cyan;
}



/* enterprise section */
.enterprise{
    /* debug */
    height: 250px;
    background-color: blue;
}

/* enterprise title */
.enterprise-top{
    height: 20%;
    width: 100%;
    justify-content: center;
}

/* enterprise content */
.enterprise-content{
    height: 80%;
}

/* hero sides proportion */
.enterprise-left{
    width: 70%;
}

.enterprise-right{
    width: 30%;
}

.enterprise-right a{
    text-decoration: none;
}

.dropbox-partners{
    /* debug */
    height: 450px;
    background-color: violet;
}

.dropbox-business{
    /* debug */
    height: 800px;
    background-color: green;
}

.dropbox-business-clients{
    /* debug */
    height: 250px;
    background-color: brown;
}

.designit{
    /* debug */
    height: 500px;
    background-color: magenta;
}

.free-trial{
    /* debug */
    height: 250px;
    background-color: lightblue;
}

.general-questions{
    /* debug */
    height: 500px;
    background-color: lightcoral;
}

/* FOOTER */

footer{
    background-color: black;
    height: 350px;
}