/* RESET */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

img{
    max-width: 100%;
}

/* UTILITIES */

.flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.space-around{
    justify-content: space-around;
}

.space-evenly{
    justify-content: space-evenly;
}

.align-item{
    align-items: center;
}

ul{
    list-style: none;
}

* a{
    text-decoration: none;
}

ul li{
    display: inline;
}

.column{
    flex-direction: column;
}

.padding-10px{
    padding: 10px;
}

/* HEADER */
header{
    height: 70px;
    background-color: orange;
}

/* header left and right partition */
.header-left, .header-right{
    width: 30%;
    /* debug */
    background-color: aqua;
    height: 100%;
}

/* logo space in left section */
.header-left img{
    width: 30%;
    padding: 10px;
}

.header-left nav{
    width: 70%;
}

nav{
    width: 100%;
}

/* MAIN */

/* container large */
.container-large{
    width: 80%;
    margin: 0 auto;
    /* debug */
    height: 90%;
    background-color: rgb(41, 30, 30);
}

/* container small */
.container-small{
    width: 70%;
    margin: 0 auto;
    /* debug */
    height: 90%;
    background-color: rgb(73, 46, 46);
}


/* Hero section */
.hero{
    /* debug */
    height: 550px;
    background-color: yellow;
}
/* Hero title */
.hero-title{
    height: 40%;
    width: 100%;
    padding: 20px 0; 
    font-size: 50px;
    font-weight: bolder;
}

/* hero content */
.hero-content{
    height: 60%;
}

/* hero sides proportion */
.hero-left{
    width: 30%;
}

.hero-right{
    width: 70%;
    padding: 20px;
}

.hero-left a{
    display: inline-block;
    text-decoration: none;
}
/* /Hero section */

/* business plans section */
.business-plans{
    /* debug */
    height: 700px;
    background-color: cyan;
}

.business-content{
    width: 100%;
    height: 90%;
}

.col{
    width: 30%;
    background-color: yellow;
}

/* enterprise section */
.enterprise{
    /* debug */
    height: 250px;
    background-color: blue;
}

/* enterprise title */
.enterprise-top{
    height: 20%;
    width: 100%;
    justify-content: center;
}

/* enterprise content */
.enterprise-content{
    height: 80%;
}

/* hero sides proportion */
.enterprise-left{
    width: 70%;
}

.enterprise-right{
    width: 30%;
}
/* /enterprise section */


/* dropbox partner section */
.dropbox-partners{
    /* debug */
    height: 450px;
    background-color: violet;
}

.dropbox-partners-left-side{
    width: 50%;
}

.dropbox-partners-left-side img{
    height: 100%;
    width: 100%;
}

.dropbox-partners-right-side{
    width: 60%;
}
/* /dropbox partner section */



.dropbox-business{
    /* debug */
    height: 800px;
    background-color: green;
}


/* Business clients section */
.dropbox-business-clients{
    /* debug */
    height: 250px;
    background-color: brown;
}

.dropbox-client-left-side{
    width: 60%;
}
/* /Business clients section */

/* designit section */
.designit{
    /* debug */
    height: 500px;
    background-color: magenta;
}

/* centre part */
.designit-center{
    width: 50%;
    height: 100%;
    background-color: rgba(245, 245, 245, 1);
}

/* left and right designit properties part */
.designit-left-side, .designit-right-side{
    width: 30%;
    height: 100%;
    background-color: blue;
}

.designit-left-side, .designit-right-side{
    flex-wrap: wrap;
    width: calc(100% / 4);
}

/* partners */
.partner1{
    width: 50%;
    height: 50%;
    background-color: rgba(162, 211, 155, 1);
}

.partner2{
    width: 50%;
    height: 50%;
    background-color: rgba(97, 8, 43, 1);
}

.partner3{
    width: 50%;
    height: 50%;
    background-color: rgba(0, 147, 206, 1);
}

.partner4{
    width: 50%;
    height: 50%;
    background-color: rgba(255, 28, 28, 1);
}

.partner5{
    width: 50%;
    height: 50%;
    background-color: rgba(213, 0, 31, 1);
}

.partner6{
    width: 50%;
    height: 50%;
    background-color: rgba(180, 208, 231, 1);
}

.partner7{
    width: 50%;
    height: 50%;
    background-color: rgba(13, 36, 129, 1);
}

.partner8{
    width: 50%;
    height: 50%;
    background-color: rgba(255, 216, 48, 1);
}
/* /designit section */

/* free trial section */
.free-trial{
    /* debug */
    height: 250px;
    background-color: lightblue;
}

.free-trial-left-side{
    height: 100%;
    width: 70%;
}

.free-trial-right-side{
    height: 100%;
    width: 30%;
}
/* /free trial section */

.general-questions{
    /* debug */
    height: 500px;
    background-color: lightcoral;
}

/* FOOTER */

footer{
    background-color: black;
    height: 350px;
}

